/*BODY RESET*/
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #616971;
}

/*TOP BAR HEADER*/

.top-bar {
    background: #7aaec4;
    height: 2.8rem;
    padding: .5rem 0;
}
.top-bar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1rem;
}
/*NAVIGATION*/


/*CAROUSEL*/

/**CHANGE CAROUSEL TRANSITION SPEED*/

/**CAROUSEL CONTENT*/


/*FIXED BG IMG*/

/**EMOJI NAVI BAR*/


/*FOOTER*/


/*SOCKET*/


/*MEDIA QUERIES*/


/*DEVICES UNDER 1199PX*/
@media (max-width: 1199.98px)   {

}

/*devices under 768px*/
@media (max-width: 768.98px)    {

}

/*bootstrap mobile gutter fix*/
.row, .container-fluid  {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/*fixed bg type*/
.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000 !important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}
.fixed {
    z-index: -999 !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    

}


