body {
    margin: 0;
    padding: 0;
    line-height: .5;
    background: linear-gradient(to bottom, #003300,#006600) ;
}

h1 {
    color: whitesmoke;
    margin-top: 300px;
    margin-left: 200px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 50;
    text-decoration: underline wheat;
}

.button {
    background-color: #c7ea46;
    border-radius: 8px;
    color: whitesmoke;
    padding: 10px 24px;;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: -1px;
    margin-left: 320px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 10px;
}


.calci {
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
    text-align: center;
    transform: translate(-50%,-50%);
    transition: 0.25px;
}

#display {
    border: none;
    background: whitesmoke;
    border-radius: 20px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid #234f1e;
    color: black;
}

.btnDesign {
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: .25px;
    cursor: pointer;
}

.operatorDesign {
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: .25px;
    cursor: pointer;
}
.operatorDesign:hover {
    background: #3ded97;
}

#zero {
    width: 116;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: .25px;
    cursor: pointer;
}